* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
main{
  width: 100%;
  margin: 50px auto;
  display: flex;
}
header{
  height: 50px;
  background-color: #ff9a4b;
}
header{
  display: block;
}
.step-box{
  width: 100%;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}
.step-box:last-child{
  margin-right: 0;
}
.step-img1{
  height: 150px;
  background-image: url(flow01.png);
  background-position: bottom;
  background-size: cover;
}
.step-img2{
  height: 150px;
  background-image: url(flow02.png);
  background-position: bottom;
  background-size: cover;
}
.step-img3{
  height: 150px;
  background-image: url(flow03.png);
  background-position: bottom;
  background-size: cover;
}
.step-name{
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  background-color:#ff9a4b;
}
footer{
  height: 50px;
  background-color: #aaa;
  margin-top: 100px;

}
h3{
  margin: 15px 0 5px;
}
@media screen and (max-width: 768px){
  header {
    width: 100%; 
  }
  footer{
    width: 100%;
  }
  main{
    width: 100%; 
    display: inline-block;
  }
  .step-box{
    width: 90%;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .title{
    width: auto;
  }
  .text{
    width: auto;
  }
  .step-box:last-child{
  margin-right: 30px;
  }

}